*, 
* ::before, 
* ::after {
    padding: 0%;
    margin: 0%;
}
/*SELECTORES*/
/*Ejemplo: de tipo*/
h1 {
    color: orange;
}
mark {
    background: red;
}
/*Ejemplo: por id*/
#item1 {
    background: aqua;
}
/*Ejemplo: por clase*/ 
.item {
    background: coral;
}
/*SELECTORES ANIDADOS*/
/*Cambia según los atributos que se le den, y se reflejan en los elementos que cumplen con ellos*/
ul#lista1.lista1 li span {
    background: green;
}
/*SELECTORES MÚLTIPLES*/
.parrafo1,
.texto1,
.parrafo2 {
    color: purple;
}
/*SELECTORES POR ATRIBUTOS*/
a[href='#'] {
    color:pink;
}
a[href^='www'] {
    color: chartreuse;
}
a[href$= 'org'] {
    color: gold;
}
a[href*=Youtube] {
    color: blueviolet;
}
/*SELECTOR GLOBAL: actúa en todo lo que hay en el HTML*/
.contenedor1 * {
font-size: 30px;
}
/*SESION 2 DE CSS*/
.borde1 {
    width: 200px;
    height: 100px;
    background-color: aqua;
    border-style: solid;
    border-width: 20px;
    border-color: blue;
    border-radius: 10px;
    outline-style: ridge;
    outline-width: 10px;
    outline-color: blueviolet;
    outline-offset: 3px;
}
/*COMBINADORES*/
.padre-combinadores > span {
    color: red;
}
.padre-combinadores span + p {
    color: green;
}
.padre-combinadores span ~ p {
    color: orange;
}
/*ANIMACIONES*/
@keyframes anim2 {
    0% {
        color: coral;
        transform: scale(1) translateX(0px);
    }
    50% {
       color: aquamarine;
        transform: scale(2) translateX(200px) ;
    }
    100% {
        color: green ;
       transform: scale(1) translateX(500px);
    }
}
/* .anim2 { 
    width: 100px;
    height: 100px;
    background: rgb(71, 132, 194);
    transition: all 3s ease-in-out; 
    animation-name: anim2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-iteration-count: 3;
    } */
/* .anim1 { 
    width: 100px;
    height: 100px;
    background: rgb(71, 132, 194);
    transition: all 3s ease-in-out; width: 1s;
}*/
/* .anim-titulo-1:hover + div {  
    background: rgb(204, 86, 204);
    color: rgb(240, 248, 255);
    font-size: 30px;
    width: 300px;
    transform: scale(2) translate(500px,100px) rotate(60deg)
} */
@keyframes avion {
    0% {
        transform: translate(0,0)
    }
    50% {
        transform: translate(-100px, 550px)
    }
    55% {
        transform: rotate(30deg);
    }
    
    100% {
        transform: translate(2600px, 1000px) 
    }
}
.paisaje {
    width: 100%;
    height: 700px;
    background: url(https://i.pinimg.com/originals/2a/8f/aa/2a8faa16ea6b18772d290cc8c86fc65e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.paisaje .avion {
    width: 200px;
    transition: all 4s;
    animation-name: avion; 
    animation-duration: 15s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.padre-p {
     background: rgb(231, 148, 228);
     width: 100%;
     height: 300px;
     position: relative;
}
.padre-p .hijo-p {
    padding: 20px;
    background: cornflowerblue;
    color: aliceblue;
    display: inline-block;
}

.hijo1 {
    position: relative;
    top: 100px;
    left: 200px;
}
.hijo2 {
    position: absolute;
    bottom: 0;
}
.hijo3 {
    position: absolute;
    top: 100px;
    left: 500px;
    transform: translateY(50%);
}
.hijo4 {
    position: fixed;
}
header {
    position: sticky;
    top: 0px;
    background: purple;
    z-index: 10;
}