* {
	scroll-behavior: smooth;
	font-family: 'Roboto';
}

/*--------------------------
	SELECTORES
--------------------------*/

/* Selctor de tipo*/
mark {
	background: red;
}

/* Selector por id */
#item1 {
	background: green;
}

/* Selector por calse */
.item2 {
	background: orange;
}

/* Selectores anidados */
ul#lista1.lista1 span {
	background: red;
}

/* Selectores multiples */
.parrafo1,
.texto1,
.parrafo2 {
	color: orange;
}

/* Selectores por atributos
	^ -> inicia con X
	$ -> termina con X
	* -> incluye X
*/
a[href^='www'] {
	color: red;
}

a[href$='.com'] {
	color: green;
}

/* Selector global */
.contenedor1 * {
	font-size: 30px;
}

/*--------------------------
	CASCADA Y ESP.
--------------------------*/
.parrafo-chido {
	background: orange;
}

p.rojito#p3 {
	background: red;
}

.verde#p3 {
	background: green !important;
}

/*--------------------------
	COLORES
--------------------------*/
.c-normal {
	color: darkcyan;
}

.c-hex {
	color: #00ffaa;
}

.c-rgb {
	color: rgb(5, 205, 74);
}

.c-rgba {
	color: rgba(10, 40, 50, 0.7);
}

.c-hsl {
	color: hsl(120, 30%, 50%);
}

.c-hsla {
	color: hsla(220, 94%, 49%, 0.8);
}

/*--------------------------
	BACKGROUNDS
--------------------------*/
.bg-color {
	background-color: #00b096;
	width: 100%;
	height: 300px;
}

.bg-imagen {
	width: 100%;
	height: 300px;
	background-image: url('https://images.vexels.com/media/users/3/230267/isolated/preview/83e373509037415d43df2861a53e3f08-lindo-gatito-semi-plano.png');
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: center;
}

.bg-combinado {
	width: 100%;
	height: 300px;
	/* background-color: #008af4;
	background-image: url('https://images.vexels.com/media/users/3/230267/isolated/preview/83e373509037415d43df2861a53e3f08-lindo-gatito-semi-plano.png');
	background-repeat: no-repeat;
	background-size: 120px; */
	background: url('https://images.vexels.com/media/users/3/230267/isolated/preview/83e373509037415d43df2861a53e3f08-lindo-gatito-semi-plano.png'),
		radial-gradient(red, blue, orange);
	background-repeat: no-repeat;
}

.bg-gradiente {
	width: 100%;
	height: 300px;
	background: radial-gradient(red, blue, orange);
}
